<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <description>Jedis Configuration</description>

    <!-- 加载配置属性文件 -->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:funtl.properties"/>

    <bean id="jedisPoolConfig"
          class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle"
                  value="${redis.maxIdle}"/>
        <property name="maxTotal"
                  value="${redis.maxActive}"/>
        <property name="maxWaitMillis"
                  value="${redis.maxWait}"/>
        <property name="testOnBorrow"
                  value="${redis.testOnBorrow}"/>
    </bean>

    <bean id="jedisPool"
          class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0"
                         ref="jedisPoolConfig"/>
        <constructor-arg index="1"
                         value="${redis.host}"
                         type="java.lang.String"/>
        <constructor-arg index="2"
                         value="${redis.port}"
                         type="int"/>
        <constructor-arg index="3"
                         value="${redis.timeout}"
                         type="int"/>
        <constructor-arg index="4"
                         value="${redis.pass}"
                         type="java.lang.String"/>
        <constructor-arg index="5"
                         value="${redis.database}"
                         type="int"/>
    </bean>

    <bean id="jedisConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="${redis.host}"
          p:port="${redis.port}"
          p:password="${redis.pass}"
          p:poolConfig="jedisPoolConfig"/>

    <bean id="stringRedisTemplate"
          class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory"
                  ref="jedisConnectionFactory"/>
    </bean>

</beans>